*{
    margin: 0;
    padding: 0;
    background-color: #212429;
}
section{
    height: 100vh;
}
#main{
    
    height: 50vh;
    
    
}
#drop{
    width: 100px;
    color: white;
    border-radius: 10px;

}

